<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Pnumonia Detection </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">    
  </head>
<body>
  <div class="t">I'm a</div>
  <div>
    <input type="checkbox" id="show">
        <label for="show" class="show-btn">Doctor</label>
    <div class="container">
    <label for="show" class="close-btn fas fa-times"></label>
    <div class="cna">
    <a id="button1">Confirm the Diagnosis</a>
    <a id="button2">Penumonia Diagnosis</a>
    </div>
    </div>
  <div>
        <input type="checkbox" id="show1">
        <label for="show1" class="show-btn1">Lab Technician</label>
  <div class="container">
    <label for="show1" class="close-btn1 fas fa-times"></label>
    <div class="cna1">
      <a id="button3">View All Record</a>
      <a id="button4">Enter a New Record</a>
      </div>
    </div>
    </div>
</body>
</html>